$mainGradient: linear-gradient(209deg, rgba(255,255,255,1) 15%, rgba(150,241,255,1) 100%);

body {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.bodycontainer {
  background: $mainGradient;
  display:grid;
  grid-template-columns: 30vw auto;

}

.scrollContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

.wrapper {
  position: relative;
}

#nav {
  display: flex;
  flex-direction: column;
  // background: $mainGradient;
  height: 100vh;
  min-width: 400px;
  overflow: hidden;
  overflow: scroll;
  padding-top: 15px;
  width: 100%;

  .logo {
    width: 100%;
  }

  &.indexView {

    #thumbnail_container {
      opacity: 0;
    }
  }
}

#work_display {
  flex-grow: 1;
  height: 100vh;
}

div {
  transition: all 500ms;
}

.skew-15 {
  transform: skew(15deg, 0deg) rotate(15deg) scale(0.85, 1);
}

.skew-n15 {
  transform: skew(-15deg, 0deg) rotate(-15deg) scale(0.85, 1);
}

.z10 {
  z-index: 10;
}

.unskew {
  transform: skew(0deg, 0deg) rotate(0deg) scale(1, 1) !important;
}

.clickable {
  cursor: pointer;
}

a.icon-button {
  transition: all 500ms;

  &:hover {
    transform: translate(0px,-4px);
  }
}

.icons { 
  display: flex;
}

.nav-description {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  position: relative;
  width: 300px;

  .img {
      position: absolute;  z-index: -1;
      }

  .text {
    font-size: 0.85em;
    padding: 30px;
 }
}

#nav_arrows {
  display: flex;

  #current_info {
    flex-grow: 1;
    text-align: center;
  }

  & > div {
    background-color: white;
  }

  .nav-arrow {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;

    &:hover {
      transform: translate(0px,-4px);
    }
  }

  a.icon-button {
    background: red;

    &:hover {
      transform: translate(0px,-4px);
    }
  }

  .nav-border {
    border: 3px solid black;
    margin: 2px;
    padding: 4px 2px;
  }

}

.title {
  font-weight: bold;
}

#thumbnail_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 20px;

  .thumbnail {
    border: 2px solid black;
    cursor: pointer;height: 100px;
    width: 100px;

    &:hover {
      transform: skew(0deg, 0deg) rotate(0deg) scale(1, 1) !important;
    }

    .image {height: 100%; object-fit: cover;  width: 100%; }

    .work_names, .work_title, .work_url { 
      display: none;
    }
  }
}