body {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0; }

.bodycontainer {
  background: linear-gradient(209deg, white 15%, #96f1ff 100%);
  display: flex; }

h1 {
  font-size: 3em;
  text-transform: uppercase; }

.wrapper {
  position: relative; }

#nav {
  height: 100vh;
  min-width: 400px;
  overflow: hidden;
  padding-top: 15px;
  width: 40vw;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #nav .logo {
    width: 100%; }
    #nav .logo.indexView {
      width: 25vw; }
      #nav .logo.indexView #thumbnail_container .thumbnail {
        height: 80px;
        width: 80px; }
  #nav #work_display {
    flex-grow: 1; }
  #nav div {
    transition: all 500ms; }
  #nav .skew-15 {
    transform: skew(15deg, 0deg) rotate(15deg) scale(0.85, 1); }
  #nav .skew-n15 {
    transform: skew(-15deg, 0deg) rotate(-15deg) scale(0.85, 1); }
  #nav .z10 {
    z-index: 10; }
  #nav .unskew {
    transform: skew(0deg, 0deg) rotate(0deg) scale(1, 1) !important; }
  #nav .clickable {
    cursor: pointer; }
  #nav #nav-description {
    display: relative;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    #nav #nav-description .img {
      position: absolute;
      z-index: -1; }
    #nav #nav-description .text {
      font-size: 0.85em;
      padding: 30px; }
  #nav #nav_arrows {
    display: flex; }
    #nav #nav_arrows #current_info {
      flex-grow: 1;
      text-align: center; }
    #nav #nav_arrows > div {
      background-color: white; }
    #nav #nav_arrows .nav-arrow {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      justify-content: center; }
    #nav #nav_arrows .nav-border {
      border: 3px solid black;
      margin: 2px;
      padding: 4px 2px; }
  #nav .title {
    font-weight: bold; }
